h1 {
  text-align: center;
  font-family: "MDGGothic";
  color: #FFF;
  font-size: 6em;
  margin-left: 15%;
  margin-right: 10%;
}

h2 {
  text-align: center;
  font-family: "MDGHand-Black";
  color: #F4CF27;
  background-color: #4F5151;
  font-size: 4em;
  padding-top: 0.3em;
  margin-bottom: 0px;
  margin-left: 15%;
  margin-right: 10%;
}

body {
      background-color: #6a9325;
      font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
      text-align: center;
}


li {
    list-style-type: none;
    margin-bottom: 5px;
    margin-left: 15%;
    margin-right: 10%;
    color: #FFF;
}

.time {
  display: inline-block;
  text-align: left;
  width: 30%;
  padding-right: 5px;

}
.chapter {
  text-align: left;
  padding-left: 1%;
  display: inline-block;
  font-size: 2em;
  width: 60%;
}

li.new {
  background-color: #FFF;
  color: #D94B8E;
  font-weight: bold;
}

@font-face {
font-family: "MDGGothic";
src: 
url("MDGGothic.otf") format("opentype"),
}

@font-face {
font-family: "MDGHand-Black";
src: 
url("MDGHand-Black.otf") format("opentype"),
}