h1 {
  text-align: center;
  font-family: "MDGGothic";
  color: #FFF;
  font-size: 6em;
  margin-left: 10%;
  margin-right: 10%;
}

h2 {
  text-align: center;
  font-family: "MDGHand-Black";
  color: #FFF;
  font-size: 4em;
  padding-top: 0.3em;
  margin-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
}

body {
      background-color: #6a9325;
      font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
      text-align: center;
}
ul  {
  padding-inline-start: 0;
}

li {
    list-style-type: none;
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
    color: #FFF;
}

@media only screen and (max-device-width: 880px) {
  html { font-size: 50%; }
}

.time {
  display: inline-block;
  text-align: left;
  width: 30%;

}
.chapter {
  text-align: left;
  display: inline-block;
  font-size: 2em;
  width: 60%;
}

li.new {
  background-color: #FFF;
  color: #D94B8E;
  font-weight: bold;
}

@font-face {
font-family: "MDGGothic";
src: 
url("MDGGothic.otf") format("opentype"),
}

@font-face {
font-family: "MDGHand-Black";
src: 
url("MDGHand-Black.otf") format("opentype"),
}