h1 {
  text-align: center;
  font-family: "Avenir";
  color: #FFF;
  display: inline-block;
}

.number {
   font-size: 5em;
  display: inline-block;

}

.numberBox {
  width: 40%
}
.text, .textLarge {
  width: 100%;
}

.textLarge {
  font-size: 1.5em;
}
h2 {
  text-align: center;
  font-family: "Avenir";
  color: #FFF;
  width: 100%;
  font-size: 3em;
  padding-top: 0.3em;
  margin-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
}
.headerNumbers {
  display: inline-block;
  width: 100%
}

 .number {
   font-family: "Avenir";
  color: #FFF;
  font-size: 4em;
  display: inline-block;
   
 }

body {
      background-color: #6a9325;
      text-align: center;
      display: inline-block;
      color: #FFF;
}
ul  {
  padding-inline-start: 0;
}

div {
  display: inline-block
}
li {
    list-style-type: none;
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
    color: #FFF;
    font-family: "Avenir";
}

@media only screen and (max-device-width: 880px) {
  html { font-size: 50%; }
}

.time {
  display: inline-block;
  text-align: left;
  width: 30%;

}
.chapter {
  text-align: left;
  display: inline-block;
  font-size: 2em;
  width: 60%;
}

li.new {
  background-color: #FFF;
  color: #D94B8E;
  font-weight: bold;
}

